* {
  margin: 0;
}
#map {
  margin: 20px auto;
  height: 80vh;
  width: 80vw;
}
#landing{
  position: relative;
  top:0;
  left:0;
  height:100vh;
  width:auto;
  background-color: rgb(0, 2, 40);
  display:grid;
  place-content: center;
  text-align: center;
  color:white;
}
h1{
  font-weight: 800;
  font-size: 4rem;
  position: relative;
  font-family: 'Source Code Pro', monospace;
  width:max-content;
  
}
h1::before,
h1::after{
  content:"";
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

h1::before{
  background-color: rgb(0, 2, 40);
  /* width:10px;
  height:10px; */
  animation:typewritter 2.5s steps(15) 0.5s forwards;
}
h1::after{
  width:0.125em;
  background-color: white;
  animation: typewritter 2.5s steps(15) 0.5s forwards, blink 750ms infinite forwards;
}
p{
  margin-top:10px;
  opacity:0;
  transform: translateY(3rem);
  font-size: 2rem;
  animation: appear 1s ease-in 3.5s forwards;

}

@keyframes typewritter{
  to{
    left:100%;
  }
}
@keyframes blink{
  to{
    background-color: transparent;
  }
}
@keyframes appear{
  to{
    opacity:1;
  }
}